*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: #59C1BD;
    display:flex;
    justify-content: center;
}

article{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    position:relative;
    top:7px;
}





.intro{
    height:153px;
    width:100px;
    margin-top:16px;
    margin-right: 5px;
    font-family: 'Inter', sans-serif;
    border:solid 2px black;
    padding:10px;
    border-radius:5px;
    background-color:#CFF5E7;
    
}

.intro > h1{
    margin-bottom:0px;
}

.intro > .velg > #slider{
    -webkit-appearance: none; 
    transform:rotate(-90deg);
    position:relative;
    top:40px;
    width:90px;
    height:10px;
    padding:0px 10px;
    border-radius:10px;
    background-color:#59C1BD;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:15px;
    height:15px;
    border-radius:10px;
    background-color: black;
    cursor: pointer;
}


.intro > .tidinfo{
    display:flex;
    flex-direction:column;
}

.intro > .velg .tidinfo > p{
    margin-bottom:15px;
    position:relative;
    bottom:17px;
    left:10px;
}

.intro > .velg .tidinfo > #starttid{
    padding:5px;
    border-radius:10px;
    background-color: #59C1BD;
    position: relative;
    bottom:17.5px;
    cursor: pointer;
}

.intro > .velg .tidinfo > #fake{
    padding:5px;
    border-radius:10px;
    background-color: #59C1BD;
    position: relative;
    bottom:17.5px;
    cursor: pointer;
    display:none;
}

.intro > .velg .tidinfo > #starttid.hide{
    display:none;
}

.intro > .velg .tidinfo > #fake.show{
    display:block;
}


.intro > .velg .tidinfo > p:nth-child(3){
    margin-bottom:10px;
    position:relative;
    left:16px;
}

.info > .velg{
    display:flex;
}

.alt{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
}

header{
    margin-top:30px;
}

header > h2{
    margin:15px 0px;
}




main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border:solid 2px black;
    padding:10px;
    font-family: 'Inter', sans-serif;
    border-radius:5px;
    margin-bottom:20px;
    background-color:#CFF5E7;

}

main > #oppgave{
    font-size:25px;
    margin-bottom:10px;
}

main > #svar{
    margin:10px auto;
    background-color: #59C1BD;
}

main > #sjekk{
    padding:5px;
    border-radius:10px;
    background-color: #59C1BD;
    cursor: pointer;

}

#reset{
    display:none;
    padding:5px;
    border-radius:10px;
    background-color: #59C1BD;
    cursor: pointer;
}

main > #reset.show{
    display:block;
    
}

main > .hide{
    display:none;
}


#konklusjon{
    font-weight:bold;
    /* margin-top:5px; */
}

.ned{
    position: relative;
    top:23px;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    height:153px;
    width:100px;
    margin-top:15px;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    border:solid 2px black;
    padding:10px;
    border-radius:5px;
    background-color:#CFF5E7;       
}

.countdown > #nedteller{
    font-size:80px;
}

